/data
/in_the_wild
/visual_dir
/cloud_annotation
/new_data
/work_dir
/FSN_visual_dir
/new_data
/FSN_logs
/ckpts
/FSN_gt_save_dir
/semantic_data
/FSN_semantic_visual_dir
/FSN_semantic_visual_dir_test
/video
/results
/missing_lib
/cloud_annotation
/assets
/FSN_rendor_logs

